{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Your Cart</h1>
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">${{ item.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
